.slide-16-9-5,
.slide-16-9-5 * {
  box-sizing: border-box;
}
.slide-16-9-5 {
  background: #040404;
  width: 1920px;
  height: 1563px;
  position: relative;
  overflow: hidden;
}
.tojos-montecristo-hi-res-4-01-2 {
  width: 1920px;
  height: 532px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.japanese {
  color: #9d9d9d;
  text-align: left;
  font: 400 32px "Ubuntu", sans-serif;
  position: absolute;
  left: 62px;
  top: 590px;
}
.chinese {
  color: #ffffff;
  text-align: left;
  font: 400 32px "Ubuntu", sans-serif;
  position: absolute;
  left: 259px;
  top: 590px;
}
.component-18 {
  width: 1796px;
  height: 113px;
  position: absolute;
  left: 62px;
  top: 1385px;
}
.jobs {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 282.68px;
  top: 30px;
  width: 57.39px;
  height: 12px;
}
.support {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 282.68px;
  top: 61px;
  width: 82.89px;
  height: 12px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 282.68px;
  top: 92px;
  width: 80.77px;
  height: 12px;
}
.about {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 76.52px;
  height: 46px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 282.68px;
  top: 0px;
  width: 132.84px;
  height: 46px;
}
.terms-of-service {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 61px;
  width: 168.97px;
  height: 12px;
}
.blog {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 29px;
  width: 46.76px;
  height: 13px;
}
.demo {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 92px;
  width: 59.51px;
  height: 21px;
}
.image-1-photo-room-3 {
  width: 106.27px;
  height: 100px;
  position: absolute;
  left: 1689.73px;
  top: 6px;
}
.component-27 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 62px;
  top: 1015px;
}
.component-272 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.component-20 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 38px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 261px;
  height: 28px;
  position: absolute;
  left: 305px;
  top: 267px;
}
._21-55 {
  color: #ffffff;
  text-align: left;
  font: 400 25px "Ubuntu", sans-serif;
  position: relative;
  width: 105px;
  height: 28px;
}
.rectangle-6 {
  background: #ffffff;
  border-radius: 7px;
  flex-shrink: 0;
  width: 118px;
  height: 28px;
  position: relative;
}
. korz {
  color: #000000;
  text-align: center;
  font: 400 18px "Ubuntu", sans-serif;
  position: absolute;
  left: 160px;
  top: 8px;
  width: 84px;
  height: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 261px;
  height: 138px;
  position: absolute;
  left: 305px;
  top: 0px;
}
.asian-style-salmon-tartare {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Ubuntu", sans-serif;
  position: relative;
  width: 261px;
}
.this-snack {
  color: #ffffff;
  text-align: left;
  font: 400 14px "Ubuntu", sans-serif;
  position: relative;
  width: 259px;
  height: 167px;
}
.beaten-cucumbers-1-4 {
  width: 285px;
  height: 295px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.component-28 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 677px;
  top: 1015px;
}
.component-282 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.component-25 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.component-252 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 62px;
  top: 685px;
}
.component-21 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.component-253 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 677px;
  top: 685px;
}
.component-254 {
  width: 566px;
  height: 295px;
  position: absolute;
  left: 1292px;
  top: 685px;
}
.component-35 {
  width: 1796px;
  height: 57.42px;
  position: absolute;
  left: 62px;
  top: 30px;
}
.login {
  color: #ffffff;
  text-align: left;
  font: 400 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 1644px;
  top: 21px;
  width: 50px;
  height: 19px;
}
.sign-up {
  color: #ffffff;
  text-align: left;
  font: 400 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 1730px;
  top: 21px;
  width: 60px;
  height: 15px;
}
.subtract {
  position: absolute;
  left: 1724px;
  top: 12px;
  overflow: visible;
}
.image-1-photo-room-9 {
  width: 53px;
  height: 57.42px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.basket {
  color: #aaabad;
  text-align: left;
  font: 400 20px "Ubuntu", sans-serif;
  text-transform: uppercase;
  position: absolute;
  left: 953px;
  top: 17px;
  width: 81px;
}
.home {
  color: #aaabad;
  text-align: left;
  font: 400 20px "Ubuntu", sans-serif;
  position: absolute;
  left: 762px;
  top: 17px;
  width: 66px;
}
.menu {
  color: #ffffff;
  text-align: left;
  font: 400 20px "Ubuntu", sans-serif;
  position: absolute;
  left: 858px;
  top: 17px;
  width: 65px;
}
