.slide-16-9-3,
.slide-16-9-3 * {
  box-sizing: border-box;
}
.slide-16-9-3 {
  background: #040404;
  width: 1905px;
  height: 2434px;
  position: relative;
  overflow: hidden;
}
.tojos-montecristo-hi-res-4-01-1 {
  width: 1905px;
  height: 911px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.component-8 {
  width: 1783px;
  height: 57px;
  position: absolute;
  left: 61px;
  top: 61px;
}
.menu {
  color: #aaabad;
  text-align: left;
  font: 400 19px "Ubuntu", sans-serif;
  position: absolute;
  left: 768.52px;
  top: 17.87px;
  width: 57.29px;
  height: 22.83px;
}
.franchise {
  color: #aaabad;
  text-align: left;
  font: 400 19px "Ubuntu", sans-serif;
  position: absolute;
  left: 853.47px;
  top: 17.87px;
  width: 104.71px;
  height: 22.83px;
}
.home {
  color: #ffffff;
  text-align: left;
  font: 400 19px "Ubuntu", sans-serif;
  position: absolute;
  left: 682.58px;
  top: 17.87px;
  width: 58.28px;
  height: 22.83px;
}
.conta-ts {
  color: #aaabad;
  text-align: left;
  font: 400 19px "Ubuntu", sans-serif;
  position: absolute;
  left: 985.84px;
  top: 17.87px;
  width: 98.78px;
  height: 28.79px;
}
.image-1-photo-room-1 {
  width: 52.35px;
  height: 57px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.login {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Ubuntu", sans-serif;
  position: absolute;
  left: 1640.76px;
  top: 19.85px;
  width: 49.39px;
  height: 18.86px;
}
.sign-up {
  color: #ffffff;
  text-align: left;
  font: 400 15px "Ubuntu", sans-serif;
  position: absolute;
  left: 1717.8px;
  top: 19.85px;
  width: 59.27px;
  height: 14.89px;
}
.subtract {
  position: absolute;
  left: 1711.88px;
  top: 11.91px;
  overflow: visible;
}
.component-7 {
  width: 361px;
  height: 258px;
  position: absolute;
  left: 772px;
  top: 333px;
}
.component-3 {
  width: 361px;
  height: 40px;
  position: absolute;
  left: 0px;
  top: 218px;
}
.more {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 287px;
  top: 22px;
}
.from-chefs-from-all-over-the-world {
  color: #aaabad;
  text-align: left;
  font: 400 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 34px;
  top: 22px;
}
.professional-cooking-of-asian-cuisine-with-guests {
  color: #aaabad;
  text-align: left;
  font: 400 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 361px;
}
.component-6 {
  width: 197px;
  height: 193px;
  position: absolute;
  left: 82px;
  top: 0px;
}
.ellipse-1 {
  background: #561e1e;
  border-radius: 50%;
  width: 197px;
  height: 193px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.image-1-photo-room-2 {
  width: 157px;
  height: 163px;
  position: absolute;
  left: 20px;
  top: 17px;
}
.japanese-dishes {
  color: #ffffff;
  text-align: left;
  font: 700 24px "Ubuntu", sans-serif;
  position: absolute;
  left: 71px;
  top: 953px;
  width: 187px;
  height: 27px;
}
.component-1 {
  width: 1421px;
  height: 475px;
  position: absolute;
  left: 0px;
  top: 1022px;
}
.more2 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Ubuntu", sans-serif;
  position: absolute;
  left: 1366px;
  top: 450px;
  width: 50px;
  height: 20px;
}
.all-types-of-sushi-consist-of-a-basic-ingredient-specifically-cooked-rice-to-which-other-ingredients-are-added-most-often-fish-and-nori {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Ubuntu", sans-serif;
  position: absolute;
  left: 1035px;
  top: 357px;
  width: 386px;
}
.structure {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Ubuntu", sans-serif;
  position: absolute;
  left: 1035px;
  top: 320px;
}
.the-history-of-sushi-began-with-rice-fields-where-fish-was-fermented-with-vinegar-salt-and-rice-after-which-the-rice-was-thrown-away-the-earliest-form-of-the-dish-today-called-naresushi-was-created-in-japan-around-the-yayoi-period-early-neolithic-early-iron-age-during-the-muromachi-period-1336-1573-people-began-to-eat-rice-as-well-as-fish-during-the-edo-period-1603-1867-vinegar-rather-than-fermented-rice-began-to-be-used {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Ubuntu", sans-serif;
  position: absolute;
  left: 1035px;
  top: 80px;
  width: 383px;
}
.sushi {
  color: #ffffff;
  text-align: left;
  font: 700 24px "Ubuntu", sans-serif;
  position: absolute;
  left: 1035px;
  top: 0px;
  width: 61px;
  height: 23px;
}
.history-of-creation {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Ubuntu", sans-serif;
  position: absolute;
  left: 1035px;
  top: 35px;
}
._1660923100-61-kartinkin-net-p-sushi-nastoyashchie-pinterest-75-1 {
  width: 1004px;
  height: 475px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.component-10 {
  width: 1803px;
  height: 573px;
  position: absolute;
  left: 102px;
  top: 1608px;
}
.more3 {
  color: #ffffff;
  text-align: left;
  font: 700 20px "Ubuntu", sans-serif;
  position: absolute;
  left: 5px;
  top: 540px;
  width: 50px;
  height: 20.14px;
}
.structure2 {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 410px;
}
.history {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 280px;
}
.sukiyaki {
  color: #ffffff;
  text-align: left;
  font: 700 22px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
}
._9460-d-071-aa-56037808922-bac-6573-cfa-5-1 {
  width: 938px;
  height: 573px;
  position: absolute;
  left: 865px;
  top: 0px;
}
.the-cooking-process {
  color: #ffffff;
  text-align: left;
  font: 400 22px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 37px;
}
.a-large-nabe-boiler-filled-with-water-and-heated-by-a-small-gas-burner-is-placed-in-the-center-of-the-table-kombu-and-or-dasi-can-be-added-to-the-water-when-the-water-boils-the-participants-of-the-meal-put-their-favorite-ingredients-into-the-pot-as-they-eat-since-the-meat-is-cut-very-thinly-it-comes-to-readiness-quite-quickly-when-the-ingredients-are-sufficiently-cooked-the-guests-take-the-pieces-dip-them-in-the-sauce-and-eat-the-sauce-can-be-different-or-even-independently-mixed-to-taste-from-several-ready-made-sauces-and-spices-then-the-cooking-procedure-is-repeated-usually-there-are-several-bookmarks-until-all-the-guests-feel-full-the-last-ingredient-is-often-noodles-which-are-eaten-together-with-the-remains-of-the-soup {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 82px;
  width: 828px;
}
.sukiyaki-consists-of-several-traditional-ingredients-for-asian-cuisine-cabbage-noodles-chrysanthemum-tang-ho-or-spinach-broth-and-beef-usually-a-dish-from-a-cauldron-is-prepared-right-on-the-table-having-prepared-a-raw-egg-yolk-for-dipping-juicy-meat-slices-into-it {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 447px;
  width: 828px;
}
.in-modern-japanese-encyclopedias-on-the-history-of-nutrition-researchers-derive-the-etymology-of-the-name-sukiyaki-from-the-custom-common-among-peasants-in-the-xvii-xviii-centuries-to-fry-yaku-meat-on-a-shovel-or-ploughshare-suki {
  color: #ffffff;
  text-align: left;
  font: 300 18px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 317px;
  width: 828px;
}
.component-11 {
  width: 1690px;
  height: 113px;
  position: absolute;
  left: 107px;
  top: 2256px;
}
.jobs {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 266px;
  top: 30px;
  width: 54px;
  height: 12px;
}
.support {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 266px;
  top: 61px;
  width: 78px;
  height: 12px;
}
.contact {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 266px;
  top: 92px;
  width: 76px;
  height: 12px;
}
.about {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 72px;
  height: 46px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font: 700 16px "Ubuntu", sans-serif;
  position: absolute;
  left: 266px;
  top: 0px;
  width: 125px;
  height: 46px;
}
.terms-of-service {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 61px;
  width: 159px;
  height: 12px;
}
.blog {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 29px;
  width: 44px;
  height: 13px;
}
.demo {
  color: #ffffff;
  text-align: left;
  font: 700 13px "Ubuntu", sans-serif;
  position: absolute;
  left: 0px;
  top: 92px;
  width: 56px;
  height: 21px;
}
.image-1-photo-room-6 {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 1590px;
  top: 6px;
}
